{
  "extends": "airbnb-base",
  "rules": {
    "no-plusplus": "off",
    "comma-dangle": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-param-reassign": ["error", { "props": false }],
    "no-mixed-operators": "off",
    "no-prototype-builtins": "off",
    "no-multi-assign": "off",
    "no-confusing-arrow": "off",
    "no-return-assign": "off",
    "arrow-body-style": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "class-methods-use-this": "off",
    "prefer-destructuring": "off",
    "max-classes-per-file": "off"
  }
}
